# main.ts
envonly="1"

dyn=""
http="8080"
https="1443"

silent="0"

useTls="1"
keyfile="./localhost.key"
certfile="./localhost.crt"
cafile=""
alpn="h2;http/1.1"

logcatfile="./logcat.log"
loglevels="debug;debug2;info;log;log2;log3;warn;warn2;error;error2"

# http-server.ts
openai_key="api key"

dissallow=".no;.not"