body{
    position:fixed;
    top: 0px;
    left: 0px;
    margin: 1%;
    width: 98%;
    height: 96%;
    background-color: #111;
    color: #ddffee;
    font-family: Arial, Helvetica, sans-serif, monospace;
    overflow: hidden;
}
.side{
    width:20%;
}
.res{
    width:70%;
}
.res,.side{
    display:inline-block;
    height:100%;
    float:inline-start;
}
.res h2{margin:0}
.side textarea{
    outline: none;
    background-color: #222;
    color:#f0f8ff; /*alice blue*/
    border: none;
    border-radius: 5px;
    resize: none;
    width: 90%;
    height: 15%;
}
.side button{
    outline: none;
    background-color: #222;
    color:#f0f8ff; /*alice blue*/
    border: none;
    border-radius: 5px;
    width: 15%;
    height: 3%;
}
