body{
    font-family: Arial, Helvetica, sans-serif;
    --horizon: 0.5%;
    --vertical: -0.5%;
    margin-top: var(--vertical);
    margin-left: var(--horizon);
    margin-right: var(--horizon);
    margin-bottom: var(--vertical);
}