body{
   font-family: Arial;
   background-color: #111111;
   color: #bbffee;
}
a{
   color: #5599ff;
   text-decoration: none;
}
a:visited{
   color: #aaaaff;
   text-decoration: line-through;
}
div span{
   color: #c3ffbb;
}
small{
   font-size: 50%;
   color: #ffffff;
}